<div class= "main">
  <div class= "main_box">
    <%= link_to(group_notices_path(current_group), class: "link") do %>
      <%= image_tag "back.png", size: "40x40", class: "back_image" %>
    <% end %>
    <div class= "page_title">
      <div class= "page_title_text">ユーザー管理</div>
    </div>

    <div class= "pending_memberships_box">
      <div class= "pending_memberships_heading2_title">
        <h2 class= "pending_memberships_heading2_title_text">承認待ち一覧</h2>
      </div>
      <div class= "pending_memberships_table">
        <table border="1">
          <thead>
            <tr>
              <th>名前</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @pending_memberships.each do |pending_member| %>
              <tr>
                <td><%= pending_member.user.nickname %></td>
                <td>
                  <%= link_to '承認', approve_group_pending_membership_path(group_id: @group.id, id: pending_member.id), data: {turbo_confirm: "#{pending_member.user.nickname}を承認します。よろしいですか？", turbo_method: :patch}, class: "blueButton link" %>
                  <%= link_to "拒否", reject_group_pending_membership_path(group_id: @group.id, id: pending_member.id), data: {turbo_confirm: "#{pending_member.user.nickname}を拒否します。よろしいですか？", turbo_method: :delete}, class: "redButton link" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class= "memberships_box">
      <div class= "memberships_heading2_title">
        <h2 class= "memberships_heading2_title_text">メンバー</h2>
      </div>
      <div class= "memberships_table">
        <table border="1">
          <thead>
            <tr>
              <th>名前</th>
              <th>メールアドレス</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.nickname %></td>
                <td><%= user.email %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
