<%= form_with model: notice, url: url, local: true do |f| %>

  <div class='form-header'>
  <% if notice.persisted? %>
    <h1 class='form-header-text'>
      お知らせ編集画面
    </h1>
  <% else %>
    <h1 class='form-header-text'>
      新規お知らせ入力
    </h1>
  <% end %>
  </div>
  <%= render partial: "shared/error", locals: {model: notice} %>
  <div class="form-group">
    <div class='form-text-wrap'>
      <%= f.label :title, class: "form-text" %>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_field :title, class:"input-default", id: "noticeTitle_form", autofocus: true %>
    <p class= "form_count_box">文字数：<span class= "form_count" id= "noticeTitle_count"><%= notice.title.length if notice.title %></span></p>
  </div>

  <div class= "form-group images">
    <div class= "form-text-wrap">
      <%= f.label :images, class: "form-text" %>
    </div>
    <div class= "notice_image_previews">
    
    </div>
   <%= f.file_field :images, name: "notice[images][]", data: {index: 0}, class: "input-default" %> 
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <%= f.label :content, class: "form-text" %>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_area :content, class:"textArea_default", id: "noticeContent_form", placeholder: "" %>
    <p class= "form_count_box">文字数：<span class= "form_count" id= "noticeContent_count"><%= notice.content.length if notice.content %></span></p>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <%= f.label :schedule, class: "form-text" %>
    </div>
    <%= f.date_field :schedule, class:"input-default" %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <%= f.label :tag_id, class: "form-text" %>
      <span class="indispensable">必須</span>
    </div>
    <%= f.collection_select(:tag_id, Tag.all, :id, :name, {prompt: false}, {class: "select_input"}) %>
  </div>
  <% if notice.persisted? %>
    <div class='commit-btn'>
      <%= f.submit "更新" ,class:"commit-red-btn" %>
    </div>
  <% else %>
    <div class='commit-btn'>
      <%= f.submit "投稿" ,class:"commit-red-btn" %>
    </div>
  <% end %>
<% end %>