<%= form_with model: notice, url: url, local: true do |f| %>

  <div class='form-header'>
  <% if notice.persisted? %>
    <h1 class='form-header-text'>
      お知らせ編集画面
    </h1>
  <% else %>
    <h1 class='form-header-text'>
      新規お知らせ入力
    </h1>
  <% end %>
  </div>
  <%= render partial: "shared/error", locals: {model: notice} %>
  <div class="form-group">
    <div class='form-text-wrap'>
      <%= f.label :title, class: "form-text" %>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_field :title, class:"input-default", id: "noticeTitle_form", autofocus: true, placeholder: "例）◯◯イベント開催決定！" %>
    <p class= "form_count_box">文字数：<span class= "form_count" id= "noticeTitle_count"><%= notice.title.length if notice.title %></span></p>
  </div>

  <div class= "form-group images">
    <div class= "form-text-wrap">
      <%= f.label :images, class: "form-text" %>
    </div>

    <% if notice.persisted? %>
      <div class= "notice_image_title">変更前</div>
      <div class= "notice_already_images">
        <% if notice.images.attached? %>
          <% notice.images.each do |image| %>
            <%= image_tag url_for(image), class: "notice_already_image" %>
          <% end %>
        <% end %>
      </div>
      <div class= "notice_image_title">変更後</div>
    <% end %>
    <div class= "notice_image_previews">
    </div>
   <%= f.file_field :images, name: "notice[images][]", data: {index: 0}, class: "input-default" %> 
  </div>

  <div class= "noticeForm_contentForm">
    <div class= "noticeForm_contentForm_info">
      <div class= "noticeForm_contentForm_title_box">
        <%= f.label :content, class: "noticeForm_contentForm_title" %>
        <span class= "indispensable">必須</span>
      </div>
      <div class= "noticeForm_contentForm_aiAssist_box">
        <button id= "ai_assist_btn" type= "button" class= "noticeForm_contentForm_aiAssist_btn">AIアシスト</button>
        <div id= "ai_modal" style= "display: none" class= "modal">
          <div class= "modal_window">
            <div class= "modal_content" id= "modal_content">
              <div class= "modal_heading">AIアシスト</div>
              <p class= "modal_sample_message">
                投稿の内容をAIがサポートさせていただきます。<br>
                （例）<br>
                ・今週の日曜日、公園の掃除をする。<br>
                ・時間は9:00~10:30<br>
                ・お茶1本と掃除用具は運営側で用意する。<br>
                ・楽しい雰囲気の文章を作成して。<br><br>

                上の条件での出力結果：<br>
                "日曜日の朝、みんなで公園の掃除をしよう！9時から10時半までの1時間半、みんなで力を合わせてきれいにしようね。お茶1本も用意されているから、作業の合間に休憩してリフレッシュしよう！掃除用具も運営側で用意されているから、手ぶらで参加できるよ。みんなで協力して、楽しく公園をきれいにしていこう！"
              </p>
              <textarea id= "ai_input" placeholder= "含めたい情報や雰囲気を入力" class= "modal_textarea"></textarea>
              <div class= "modal_btn_box">
                <button id= "cancel_btn" type= "button" class= "modal_cancel_btn">キャンセル</button>
                <button id= "generate_btn" type= "button" class= "modal_generate_btn">生成</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= f.text_area :content, class:"textArea_default", id: "noticeContent_form", placeholder: "例）季節の美味しい食材が一堂に会するグルメフェアで、贅沢な味覚の旅に出かけませんか？" %>
    <p class= "form_count_box">文字数：<span class= "form_count" id= "noticeContent_count"><%= notice.content.length if notice.content %></span></p>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <%= f.label :schedule, class: "form-text" %>
    </div>
    <%= f.date_field :schedule, class:"input-default" %>
  </div>
  
  <div class="form-group">
    <div class='form-text-wrap'>
      <%= f.label :tag_id, class: "form-text" %>
      <span class="indispensable">必須</span>
    </div>
    <%= f.collection_select(:tag_id, Tag.all, :id, :name, {prompt: false}, {class: "select_input"}) %>
  </div>
  
  <% if notice.persisted? %>
    <div class='commit-btn'>
      <%= f.submit "更新" ,class:"commit-red-btn" %>
    </div>
  <% else %>
    <div class='commit-btn'>
      <%= f.submit "投稿" ,class:"commit-red-btn" %>
    </div>
  <% end %>
<% end %>