<%= form_with model: notice, url: url, local: true do |f| %>

  <%= render partial: "shared/error", locals: {model: notice} %>

  <div class= "field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class= "field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class= "field">
    <%= f.label :schedule %>
    <%= f.date_field :schedule %>
  </div>
  
  <div class= "field">
    <%= f.label :tag_id %>
    <%= f.collection_select(:tag_id, Tag.all, :id, :name, {}) %>
  </div>

  <div class="actions">
    <%= f.submit nil %>
  </div>
<% end %>