<div class= "notice_item" data-notice-id="<%= notice.id %>" data-group-id="<%= current_group.id %>">
  <%= link_to(group_notice_path(group_id: current_group.id, id: notice.id), data: {turbo: false}, class: "link") do %>
    <div class= "notice_header">
      <div class= "notice_header_info">
        <% if notice.tag.name == "お知らせ" %>
          <span class= "notice_tag green">
            <%= notice.tag.name %>
          </span>
        <% elsif notice.tag.name == "イベント" %>
          <span class= "notice_tag blue">
            <%= notice.tag.name %>
          </span>
        <% elsif notice.tag.name == "緊急" %>
          <span class= "notice_tag yellow">
            <%= notice.tag.name %>
          </span>
        <% elsif notice.tag.name == "重要" %>
          <span class= "notice_tag red">
            <%= notice.tag.name %>
          </span>
        <% end %>
        <div class= "notice_header_day"><%= l notice.created_at %></div>
      </div>
      <h2 class= "notice_title">
        <%= notice.title %>
      </h2>
    </div>
  <% end %>
  <%= link_to(user_path(notice.user.id), class: "link") do %>
    <div class= "notice_user_name">投稿者：<%= notice.user.nickname %></div>
  <% end %>
  <% if notice.images.attached? %>
    <% notice.images.each do |image| %>
      <%= link_to image_tag(url_for(image), size: "258x145"), url_for(image), target: "_blank" %>
    <% end %>
  <% end %>
  <%= link_to(group_notice_path(group_id: current_group.id, id: notice.id), data: {turbo: false}, class: "link") do %>
    <% if request.path == group_notices_path(current_group) || request.path == user_path(notice.user.id) %>
      <p class="notice_content">
        <%= simple_format(sanitize(truncate(notice.content, length: 200)), {}, wrapper_tag: "div") %>
      </p>
    <% else %>
      <p class= "notice_content">
        <%= simple_format(h(notice.content), {}, sanitize: false, wrapper_tag: "div") %>
      </p>
    <% end %>
    <div class= "notice_footer">
      <div class= "notice_reads", data-notice-id= "<%= notice.id %>">既読：<%= notice.reads.count %></div>
    </div>
  <% end %>
</div>
