<div class= "main">
  <div class= "main_box">

    <div class= "noticeIndex_indexButton_box">
      <%= link_to(group_notices_path(current_group), class: "link noticeIndex_noticeIndexButton") do %>
        <div class= "noticeIndex_noticeIndexButton">
          <div class= "noticeIndex_noticeIndexButton_text">お知らせ一覧</div>
        </div>
      <% end %>
      <%= link_to(group_circulars_path(current_group), class: "link noticeIndex_circularIndexButton") do %>
        <div class= "noticeIndex_circularIndexButton">
          <div class= "noticeIndex_circularIndexButton_text">回覧板一覧</div>
        </div>
      <% end %>
    </div>

    <% if params[:view] != "calendar" %>
      <div class= "noticeIndex_search_box">
        <%= search_form_for @q, url: group_notices_path, class: "noticeIndex_search_form" do |f| %>
          <div class= "noticeIndex_search_inputbox">
            <%= f.search_field :title_or_content_cont, placeholder: "タイトル、説明文から検索", class: "noticeIndex_search_textField" %>
            <div class= "noticeIndex_search_checkbox">
              <% Tag.where.not(id: 1).each do |tag| %>
                <%= label_tag do %>
                  <%= f.check_box :tag_id_in, { multiple: true }, tag.id, nil %>
                  <%= tag.name %>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class= "noticeIndex_search_commit">
            <%= f.submit "検索", class: "noticeIndex_search_commit_text" %>
          </div>
        <% end %>
      </div>
    <% end %>

    <% if params[:view] == "calendar" %>
      <div class= "noticeIndex_displayStyle_btn">形式：
        <%= link_to "リスト", group_notices_path(current_group, view: "list"), class: "link" %> |
        <%= link_to "カレンダー", group_notices_path(current_group, view: "calendar"), class: "link current_style" %>
      </div>
      <%= render partial: "calendar", locals: {notices: @notices} %>
    <% else %>
      <div class= "noticeIndex_displayStyle_btn">形式：
        <%= link_to "リスト", group_notices_path(current_group, view: "list"), class: "link current_style" %> |
        <%= link_to "カレンダー", group_notices_path(current_group, view: "calendar"), class: "link" %>
      </div>
      <% if params[:schedule].present? %>
        <% schedule_date = Date.parse(params[:schedule]) rescue nil %>
        <div class= "noticeIndex_schedule_title">
          <%= schedule_date.strftime("%Y年%m月%d日") %>
        </div>
      <% end %>
      <%= render partial: "notice", collection: @notices %>
    <% end %>
    
  </div>
</div>

<%= link_to( new_group_notice_path(current_group), class: "new_btn link") do %>
  <span class= "new_btn_text">投稿</span>
  <%= image_tag "icon_pencil.png", size: "185x60", class: "new_btn_icon" %>
<% end %>