<div class= "main">
  <div class= "main_box">
    <div class= "noticeIndex_indexButton_box">
      <%= link_to "お知らせ一覧", group_notices_path(current_group), class: "noticeIndex_noticeIndexButton link" %>
      <%= link_to "回覧板一覧", group_circulars_path(current_group), class: "noticeIndex_circularIndexButton link" %>
    </div>

    <% if params[:view] == "calendar" %>
      <div class= "noticeIndex_displayStyle_btn">形式：
        <%= link_to "リスト", group_notices_path(current_group, view: "list"), class: "link" %> |
        <%= link_to "カレンダー", group_notices_path(current_group, view: "calendar"), class: "link current_style" %>
      </div>
      <%= render partial: "calendar", locals: {notices: @notices} %>
    <% else %>
      <div class= "noticeIndex_displayStyle_btn">形式：
        <%= link_to "リスト", group_notices_path(current_group, view: "list"), class: "link current_style" %> |
        <%= link_to "カレンダー", group_notices_path(current_group, view: "calendar"), class: "link" %>
      </div>
      <%= render partial: "notice", collection: @notices %>
    <% end %>
    
  </div>
</div>

<%= link_to( new_group_notice_path(current_group), class: "new_btn link") do %>
  <span class= "new_btn_text">投稿</span>
  <%= image_tag "icon_pencil.png", size: "185x60", class: "new_btn_icon" %>
<% end %>