<div class= "main">
  <div class= "main_box">
    <%= link_to(group_notices_path(current_group), class: "link") do %>
      <%= image_tag "back.png", size: "40x40", class: "back_image" %>
    <% end %>
    <div class= "page_title"> 
      <div class= "page_title_text">お知らせ詳細</div>
    </div>

    <%= render partial: "notice", locals: {notice: @notice} %>

    <% if current_user == @notice.user %>
    <div class= "show_edit_delete_btn">
      <%= link_to "編集", edit_group_notice_path(group_id: current_group.id, id: @notice.id), class: "edit_btn link" %>
      <%= link_to "削除", group_notice_path(group_id: current_group.id, id: @notice.id), data: {turbo_confirm: "「#{@notice.title}」を削除します。よろしいですか？", turbo_method: :delete}, class: "delete_btn link" %>
    </div>
    <% end %>
  </div>
</div>

