<div class= "main">
  <div class= "main_box">
    <%= link_to(group_notices_path(current_group), class: "link") do %>
      <%= image_tag "back.png", size: "40x40", class: "back_image" %>
    <% end %>
    <div class= "page_title"> 
      <div class= "page_title_text">お知らせ詳細</div>
    </div>

    <%= render partial: "notice", locals: {notice: @notice} %>

    <% if current_user == @notice.user %>
    <div class= "show_edit_delete_btn">
      <%= link_to "編集", edit_group_notice_path(group_id: current_group.id, id: @notice.id), class: "blueButton link" %>
      <%= link_to "削除", group_notice_path(group_id: current_group.id, id: @notice.id), data: {turbo_confirm: "「#{@notice.title}」を削除します。よろしいですか？", turbo_method: :delete}, class: "redButton link" %>
    </div>
    <% end %>

    <div class= "noticeShow_comments_box">
      <%= form_with model: [@notice, @comment], url: group_notice_comments_path(group_id: current_group.id, notice_id: @notice.id) do |f| %>
        <div class= "noticeShow_comments_heading2_title">
          コメント
        </div>
        <div class= "noticeShow_comments_form">
          <%= f.text_area :text, class: "input-default", placeholder: "" %>
        </div>
      <% end %>
      <div class= "noticeShow_commentsIndex_box">
        <% @comments.each do |comment| %>
          <div class= "noticeShow_comment_box">
            <div class= "noticeShow_comment_userNickname">
              <%= comment.user.nickname %>：
            </div>
            <div class= "noticeShow_comment_text">
              <%= comment.text %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

