<div class= "main">
  <div class= "main_box">
    <%= link_to(:back, class: "link") do %>
      <%= image_tag "back.png", size: "40x40", class: "back_image" %>
    <% end %>
    <div class='form-header'>
      <h1 class='form-header-text'>
        ユーザー情報編集
      </h1>
    </div>
    <%= form_for(resource, as: resource_name, url: user_registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <div class='form-text-wrap'>
          <%= f.label :nickname, class: "form-text" %>
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :nickname, class:"input-default", id:"nickname", placeholder:"例) townfo太郎", maxlength:"40" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="commit-btn">
        <%= f.submit "更新", class: "commit-red-btn" %>
      </div>
    <% end %>
  </div>
</div>

