<h1>グループ参加申請</h1>

<p>参加したいグループを選択してください</p>

<%= search_form_for @q, url: new_group_pending_membership_path(@groups) do |f| %>
  <%= f.label :name_cont, "グループ名" %><br>
  <%= f.text_field :name_cont, placeholder: "グループ名" %>
  <%= f.submit "検索" %>
<% end %>

<table border="1">
  <tr>
    <th><%= Group.human_attribute_name(:name) %></th>
    <th></th>
  </tr>
  <% @groups.each do |group| %>
    <tr>
      <td>
        <%= link_to group.name, group_pending_memberships_path(group), data: {turbo_confirm: "「#{group.name}」に参加申請を送信します。よろしいですか？", turbo_method: :post} %>
      <td>
        <%= truncate(group.description, length: 50) %>
      </td>
    </tr>
  <% end %>
</table>