<div class= "main">
  <div class= "main_box">
    <%= link_to(root_path, class: "link") do %>
      <%= image_tag "back.png", size: "40x40", class: "back_image" %>
    <% end %>

    <div class= "page_title">
      <div class= "page_title_text">
        グループ参加申請
      </div>
    </div>

    <div class= "pendingMembershipNew_heading3">
      参加したいグループを選択してください
    </div>
    <div class= "pendingMembershipsIndex_searchBox">
      <%= search_form_for @q, url: new_pending_membership_path, html: { class: "search-form-3" } do |f| %>
        <label>
          <%= f.text_field :name_cont, placeholder: "グループ名で検索", class: "input-default search_input" %>
        </label>
        <%= f.submit "検索", class: "search-button" %>
      <% end %>
    </div>

    <div class= "pendingMembershipNew_table_box">
      <table border="1">
        <tr>
          <th><%= Group.human_attribute_name(:name) %></th>
          <th><%= Group.human_attribute_name(:description) %></th>
        </tr>
        <% @groups.each do |group| %>
          <tr>
            <td>
              <%= link_to group.name, group_path(group), class: "link" %>
              <% if current_user.pending_memberships.length == 0 %>
                <%= link_to "申請", pending_memberships_path(group_id: group.id), data: {turbo_confirm: "「#{group.name}」に参加申請を送信します。よろしいですか？", turbo_method: :post}, class: "pendingMembership_createButton link" %>
              <% end %>
            <td>
              <%= link_to truncate(group.description, length: 50), group_path(group), class: "link" %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>

  </div>
</div>
