<%= form_with model: group, url: url, local: true do |f| %>

  <div class='form-header'>
    <% if group.persisted? %>
      <h1 class='form-header-text'>
        グループ情報編集
      </h1>
    <% else %>
      <h1 class='form-header-text'>
        グループ新規作成
      </h1>
    <% end %>
  </div>

  <%= render partial: "shared/error", locals: {model: group} %>

  <div class="form-group">
    <div class='form-text-wrap'>
      <%= f.label :name, class: "form-text" %>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_field :name, class:"input-default", id: "groupName_form" , autofocus: true %>
    <p class= "form_count_box">文字数：<span class= "form_count" id= "groupName_count">0</span></p>
  </div>
  
  <div class="form-group">
    <div class='form-text-wrap'>
      <%= f.label :description, class: "form-text" %>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_area :description, class:"input-default", id: "groupDescription_form", placeholder:"" %>
    <p class= "form_count_box">文字数：<span class= "form_count" id= "groupDescription_count">0</span></p>
  </div>

  <% if group.persisted? %>
    <div class='commit-btn'>
      <%= f.submit "更新" ,class:"commit-red-btn" %>
    </div>
  <% else %>
    <div class='commit-btn'>
      <%= f.submit "作成" ,class:"commit-red-btn" %>
    </div>
  <% end %>

<% end %>