<div class= "main">
  <div class= "main_box">
    <% if current_group %>
      <%= link_to(group_notices_path(current_group), class: "link") do %>
        <%= image_tag "back.png", size: "40x40", class: "back_image" %>
      <% end %>
    <% else %>
      <%= link_to(new_pending_membership_path, class: "link") do %>
        <%= image_tag "back.png", size: "40x40", class: "back_image" %>
      <% end %>
    <% end %>
    <div class= "page_title"> 
      <div class= "page_title_text">グループ詳細</div>
    </div>

    <div class= "groupShow_group_box">
      <div class= "groupShow_groupName">
        <div class= "groupShow_heading2_title">
          グループ名
        </div>
        <div class= "groupShow_groupName_text">
          <%= @group.name %>
        </div>
      </div>
      <div class= "groupShow_groupDescription">
        <div class= "groupShow_heading2_title">
          説明
        </div>
        <div class= "groupShow_groupDescription_text">
          <%= simple_format(h(@group.description), {}, sanitize: false, wrapper_tag: "div") %>
        </div>
      </div>
    </div>

    <% if current_user.id == @group.owner_id %>
      <div class= "groupShow_button_box">
        <%= link_to "編集", edit_group_path(@group), class: "blueButton link" %>
        <%= link_to "削除", group_path(@group), data: {turbo_confirm: "グループ「#{@group.name}」を削除した場合、お知らせ等のデータもすべて削除されます。よろしいでしょうか？", turbo_method: :delete}, class: "redButton link" %>
      </div>
    <% end %>

    <% if current_group %>
      <div class= "groupShow_memberships_box">
        <div class= "page_title">
          <div class= "page_title_text">ユーザー管理</div>
          <p class= "page_title_message">※名前をクリックするとユーザーの詳細を確認できます</p>
        </div>

        <% if current_user.id == @group.owner_id %>
          <div class= "pending_memberships_box">
            <div class= "pending_memberships_heading2_title">
              <h2 class= "pending_memberships_heading2_title_text">承認待ち一覧</h2>
            </div>
            <div class= "pending_memberships_table">
              <table border="1">
                <thead>
                  <tr>
                    <th>名前</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% @pending_memberships.each do |pending_member| %>
                    <tr>
                      <td><%= link_to pending_member.user.nickname, group_user_path(group_id: pending_member.group.id, id: pending_member.user.id), class: "link" %></td>
                      <td>
                        <%= link_to '承認', approve_group_pending_membership_path(group_id: @group.id, id: pending_member.id), data: {turbo_confirm: "#{pending_member.user.nickname}を承認します。よろしいですか？", turbo_method: :patch}, class: "blueButton link" %>
                        <%= link_to "拒否", reject_group_pending_membership_path(group_id: @group.id, id: pending_member.id), data: {turbo_confirm: "#{pending_member.user.nickname}を拒否します。よろしいですか？", turbo_method: :delete}, class: "redButton link" %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        <% end %>

        <div class= "memberships_box">
          <div class= "memberships_heading2_title">
            <h2 class= "memberships_heading2_title_text">メンバー</h2>
            <p>「☆」はこのグループの管理者であることを表します。</p>
          </div>
          <div class= "memberships_table">
            <table border="1">
              <thead>
                <tr>
                  <th>名前</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @users.each do |user| %>
                  <tr>
                    <td>
                      <% if user.id == @group.owner_id %>
                        ☆
                      <% end %>
                      <%= link_to user.nickname, group_user_path(group_id: @group.id, id: user.id), class: "link" %>
                    </td>
                    <td>
                      <% if current_user.id == @group.owner_id || user.id == current_user.id %>
                        <%= link_to "退会", group_membership_path(group_id: @group.id, id: user.memberships.first.id), data: {turbo_confirm: "#{user.nickname}を退会させます。よろしいですか？", turbo_method: :delete}, class: "redButton link" %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>