<div class= "main">
  <div class= "main_box">
    <%= link_to(:back, class: "link") do %>
      <%= image_tag "back.png", size: "40x40", class: "back_image" %>
    <% end %>
    <%= form_with model: current_user, url: group_user_path(group_id: current_group.id, id: current_user.id), local: true do |f| %>

      <div class='form-header'>
        <h1 class='form-header-text'>
          ユーザー情報編集
        </h1>
      </div>
      <%= render partial: "shared/error", locals: {model: current_user} %>
      <div class="form-group">
        <div class='form-text-wrap'>
          <%= f.label :nickname, class: "form-text" %>
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field :nickname, class:"input-default", id: "userNickname_form", autofocus: true %>
        <p class= "form_count_box">
          文字数：<span class= "form_count" id= "userNickname_count"><%= current_user.nickname.length if current_user.nickname %></span>
        </p>
      </div>
      
      <div class="form-group">
        <div class='form-text-wrap'>
          <%= f.label :profile, class: "form-text" %>
        </div>
        <%= f.text_area :profile, class:"form_userProfile input-default", id: "userProfile_form" %>
        <p class= "form_count_box">文字数：<span class= "form_count" id= "userProfile_count">0</span></p>
      </div>

      <div class="form-group">
        <div class='form-text-wrap'>
          <%= f.label :email, class: "form-text" %>
          <span class="indispensable">必須</span>
        </div>
        <%= f.email_field :email, class:"input-default", placeholder:"" %>
      </div>

      <div class='commit-btn'>
        <%= f.submit "更新" , class:"commit-red-btn" %>
      </div>

    <% end %>
  </div>
</div>

