<div class= "main">
  <div class= "main_box">

    <div class= "mypage">
      <div class= "mypage_box">
        <div class= "user_info_box">
          <div class= "user_name"><%= @user.nickname %></div>
          <div class= "user_email"><%= @user.email %></div>
        </div>
        <div class= "user_edit_btn">
          <%= link_to "プロフィールを編集", edit_group_user_path(group_id: @group.id, id: @user.id), class: "link" %> 
        </div>
      </div>
    </div>

    <span class= "user_notice">
      <%= @user.nickname %>の投稿
    </span>
    <% @notices.each do |notice| %>
      <%= render partial: "notices/notice", locals: {notice: notice} %>
    <% end %>
    
  </div>
</div>