<!DOCTYPE html>
<html>
  <head>
    <title>Townfo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if flash[:notice] || flash[:alert] %>
      <div id="flash-message" class="flash-message <%= flash[:notice] ? 'notice' : 'alert' %>">
        <span class="icon">
          <% if flash[:notice] %>
            &#x2714; <!-- チェックマークアイコン -->
          <% elsif flash[:alert] %>
            &#x26A0; <!-- 警告アイコン -->
          <% end %>
        </span>
        <%= flash[:notice] || flash[:alert] %>
      </div>
    <% end %>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var flashMessage = document.getElementById('flash-message');
        if (flashMessage) {
          console.log('Flash message element exists');
          console.log('Flash message content:', flashMessage.innerHTML.trim());

          if (flashMessage.innerHTML.trim() !== '') {
            flashMessage.classList.add('show'); // 表示

            // 5秒後にメッセージを消す
            setTimeout(function() {
              flashMessage.classList.add('hide'); // フェードアウト
            }, 5000);
          }
        } else {
          console.log('Flash message element does not exist');
        }
      });
    </script>
    <%= render "shared/header" %>
    <%= yield %>
    <%= render "shared/footer" %>
  </body>
</html>
