<div class= "main">
  <div class= "main_box">

    <div class= "circularIndex_indexButton_box">
      <%= link_to(group_notices_path(current_group), class: "link circularIndex_noticeIndexButton") do %>
        <div class= "circularIndex_noticeIndexButton">
          <div class= "circularIndex_noticeIndexButton_text">お知らせ一覧</div>
        </div>
      <% end %>
      <%= link_to(group_circulars_path(current_group), class: "link circularIndex_circularIndexButton") do %>
        <div class= "circularIndex_circularIndexButton">
          <div class= "circularIndex_circularIndexButton_text">回覧板一覧</div>
        </div>
      <% end %>
    </div>

    <div class= "circularIndex_yearFilter_box">
      <%= form_with url: group_circulars_path(current_group), method: :get, local: true do %>
        <%= select_tag :year, options_for_select(@years, @selected_year), class: "circularIndex_yearFilter_select" %>
        <%= submit_tag "表示", class: "circularIndex_yearFilter_submit" %>
      <% end %>
    </div>

    <%= render partial: "circular", collection: @circulars %>
      
    <% if current_user.id == @group.owner_id %>
      <%= link_to( new_group_circular_path(current_group), class: "new_btn link") do %>
        <span class= "new_btn_text">投稿</span>
        <%= image_tag "icon_pencil.png", size: "185x60", class: "new_btn_icon" %>
      <% end %>
    <% end %>
  </div>
</div>