<div class= "main">
  <div class= "main_box">

    <div class= "circularIndex_indexButton_box">
      <%= link_to "お知らせ一覧", group_notices_path(current_group), class: "circularIndex_noticeIndexButton link" %>
      <%= link_to "回覧板一覧", group_circulars_path(current_group), class: "circularIndex_circularIndexButton link" %>
    </div>

    <%= render partial: "circular", collection: @circulars %>
      
    <% if current_user.id == @group.owner_id %>
      <%= link_to( new_group_circular_path(current_group), class: "new_btn link") do %>
        <span class= "new_btn_text">投稿</span>
        <%= image_tag "icon_pencil.png", size: "185x60", class: "new_btn_icon" %>
      <% end %>
    <% end %>
  </div>
</div>